#main-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid #333; */
    background: rgba(48, 233, 48, 0.703);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #4cec24;
}

#imageContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center; 
    align-items: center; 
}

.tooltip {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 3px;
}
  
  .tooltip.visible {
    display: block;
}